*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
:root{
    --bgColor:#f7f7f7;
    --headerColor:#C0C0C0;
    --secondColor:#eaeaea;
    --textColor:#3f3844;
    --mainColor:#e354f3;
    --secondaryColor:#17b6f9;
    --otherColor:#5d6c83;
    --colorTabla:#8cb6f5;
  
}
html{
   height: 100%;
  margin: 0;
}
header{
  background-color: var(--headerColor);
  margin: 0;
  padding: 1rem;
  color:blue;
}
body{
  background-color: var(--secondColor);
  margin: 0;
   height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main{
  width: 80%;
  flex: 1;
}
h1 {
  text-align: center;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
h2{
    text-align:  center;
    padding: 1rem;
}
h3{
    text-align: center;
    padding: 0.5rem;
    color: blue;
}

.proyecto{
  width: 70%;
  border: 2px solid var(--colorTabla);
  text-align: center;
  margin: 15px;
  background-color: var(--colorTabla);
  font-weight: 900;
  padding: 5px;
  border-radius: 10px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th{
    border-bottom:  2px solid black;
    border-right: 2px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--colorTabla);
    font-size: 20px;
}

.iconos {
    text-align: center;
}
td{
    border: 1px solid black;
    
}
.texto{
   padding-left: 0.5rem; 
   font-size: 18px;
   padding-right: 0.5rem;
}
.span{
    font-size: 12px;
}
.span2{
    font-style: italic;
}

a {
  text-decoration: none;
  height: 10rem;
  padding: 0 auto;
  
}
i{
    font-size: 2rem;
    color: var(--colorTabla);
}
footer{
    background-color: var(--secondColor);
    padding:0 ;
    margin: 0;
    text-align: center;
    bottom: 0;
    font-size: 18px;
    background-color: var(--headerColor);
}
footer a{
  font-size: 18px;
  color: blue;
}
address{
    font-size: 15px;
}
